services:
services:
  api:
    build:
      context: ..
      dockerfile: apps/api/Dockerfile
    env_file:
      - env/api.env
    volumes:
      - ../:/app
    ports:
      - "3000:3000"

  web:
    build:
      context: ..
      dockerfile: apps/web/Dockerfile
    env_file:
      - env/web.env
    volumes:
      - ../:/app
    ports:
      - "3001:3000"

  db:
    image: postgres:16-alpine
    env_file:
      - env/db.env
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"


volumes:
  db_data:
