services:
  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    container_name: infra-api
    ports:
      - "4000:4000"

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    container_name: infra-web
    ports:
      - "3001:3000"

  db:
    image: postgres:16-alpine
    env_file:
      - env/db.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  caddy:
    image: caddy:latest
    volumes:
      - ../Caddyfile:/etc/caddy/Caddyfile
    ports:
      - "80:80"
      - "443:443"

volumes:
  db_data:
